body{
    background-image: url("../images/connectwork.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    background-color: white;
}

.HeaderBarBackground{
    position: absolute;
    background-color: white;
    top: 0px;
    width: 100%;
    height: 109px;
    left:0px;
    z-index: -1;
}
.HeaderBar{
    background-color: white;
    width: 960px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 10px;
    border-bottom-color: #cccccc;
    padding-top: 20px;
    z-index: 1
}

.HeaderBar::after {
    content: "";
    clear: both;
    display: table;
  }

.Name{
    float: left;
    padding-left:20px;
    padding-right:20px;
    background-color: cadetblue;
    color: white;
    text-align: center;
    font-weight: bold;
    width: fit-content;
    height:fit-content;
}

.Container{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: fit-content;
    background-color: white;
}

.Navigation {
    float: right;
    margin-top: 36px;
}

#PortfolioButton{
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-right-color: #cccccc;
    border-left-color: #cccccc;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

#AboutButton{
    border-style: none;
}

#ContactButton{
    border-style: none;
}