.ImgOverlay{
    position: relative;
    text-align: left;
    color: white;
    width: fit-content;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Overlay{
    position: absolute;
    bottom: 15px;
    text-align: center;
    background-color: cadetblue;
    color: white;
    font-size: 25px;
    vertical-align: middle;
    width: 100%;
    height: 45px;
    padding-top: 10px;
}

.PortfolioImage{
    width: 300px;
}

input{
    margin-left: 20px;
    height: 25px;
    width: 95%;
}

textarea{
    margin-left: 20px;
    max-width: 95%;
    margin-bottom: 20px;
}

#Submit{
    height: 35px;
    width: 100px;
    background-color: cadetblue;
    color: white;
    margin-left:20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-style: none;
    margin-bottom: 20px;
}

.Wrapper{
    min-height: 100%;
    margin-bottom: -50px;
}

.Push{
    height: 150px;
    margin-bottom: -50px;
}

html{
    height: 100%;
    margin: 0;
}

body{
    background-image: url("../images/connectwork.png");
    height: 100%;
    margin: 0;
    background-position: center;
    background-repeat: repeat;
}

a{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 14px;
    width: 50px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
}

.ProfileImage{
    width: 200px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.5;
}

#AboutMe{
    width:auto;
    color: cadetblue;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    border-top: none;
    border-left: none;
    border-right: none;

}

.HeaderBarBackground{
    position: absolute;
    background-color: white;
    top: 0px;
    width: 100%;
    height: 92px;
    left:0px;
    z-index: -1;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}
.HeaderBar{
    background-color: white;
    width: 960px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 10px;
    border-bottom-color: #cccccc;
    padding-top: 20px;
    height: 64px;
    z-index: 1
}

.HeaderBar::after{
    content: "";
    clear: both;
    display: table;
}

#Name{
    float: left;
    padding-left:20px;
    padding-right:20px;
    background-color: cadetblue;
    color: white;
    text-align: center;
    font-weight: bold;
    width: fit-content;
    padding-bottom: 8px;
    height:64px;
}

.Container{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: fit-content;
    background-color: white;
}

.Navigation{
    float: right;
    margin-top: 36px;
    width: fit-content;
}

.Footer{
    border-style: solid;
    border-color: cadetblue;
    border-width: 5px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: gray;
    width: 100%;
    height: 50px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}

#FooterText{
    text-align: center;
    vertical-align: bottom;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: smaller;
    height: 0px;
    width: 500px;
    z-index: 2;
    color: white;
}

#PortfolioButton{
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    border-top: none;
    border-bottom: none;
}

#AboutButton{
    border-style: none;
}

#ContactButton{
    border-style: none;
}